body {
  background-color: #222222;
  color: #e7e7e7;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.9em;
  width: 99%;
}
a {
  color: #88bbdd;
  text-decoration: none;
}
a:hover { 
  text-decoration: underline;
}
td {
  padding: 5px;
  text-align: left;
  border: 1px solid #e7e7e7;
  font-size: 0.97em;
  empty-cells: hide;
}
table, th, td {
  margin: 0 auto;
}
