body {
  background-color: #222222;
  color: #e7e7e7;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 90%;
}
a {
    color: #8899a6;
}
table, th, td {
  padding: 5px;
  text-align: left;
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
  font-size: 90%;
}
