body {
  background-color: #222222;
  color: #e7e7e7;
  font-family: Verdana, Geneva, sans-serif;
}
a {
    color: royalblue;
}
table, th, td {
  padding: 5px;
  text-align: left;
  border: 1px solid #e7e7e7;
  border-collapse: collapse;
}
